{% extends 'polls/base.html'%}

{% block content %}
<h3> Question detail : </h3>
<strong>name : {{question_detail.question_text}} </strong>
<h5>Published date : {{question_detail.pub_date|date:"M d,y" }}</h5>
<h3> Given choices </h3>
<ul>
<form name = "vote" action = "{% url 'polls:votes' question_detail.id  %}" method ="POST" > 
     {% csrf_token %}
{% for choice in question_detail.choice_set.all %}
   
    <input type ="radio" name = "choice" id ="choice{{ forloop.counter }}" value ="{{ choice.id }}"/>
    <label for ="choice{{forloop.counter}}">{{choice.choice_text}}</label><br />
    {% endfor %} 
    <input type ="submit" value ="vote"/>
</form>
{% if error_msg %}
<h5> {{error_msg }} </h5>
{% endif %}
{% endblock %}
